@import "./../../../../assets/themes/colors";
#new-user {
  color: white;
  background-color: $rds-logo-color;
  position: fixed;
  bottom: 50px;
  top: auto;
  right: 50px;
  left: auto;
}
#new-cicle {
  color: white;
  background-color: $rds-logo-color;
  position: fixed;
  bottom: 120px;
  top: auto;
  right: 50px;
  left: auto;
}
