@import "./../../../../assets/themes/colors";

#new-room-course {
  color: white;
  background-color: $rds-logo-color;
  position: fixed;
  bottom: 190px;
  top: auto;
  right: 50px;
  left: auto;
}
.img-select {
  width: 30px;
  height: auto;
}
