<ng-template #spinner>
  <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="5" [diameter]="50">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template>
<div *ngIf="(periods$|async) && teachers$|async as teachers" class="card bg-transparent">
  <div class="card-body">
    <h2 class="card-title">
      <span>Materias {{selectedCicle.value}}</span>
    </h2>
    <form [formGroup]="searchForm" fxLayout="row wrap" fxLayoutAlign="space-between center" fxLayoutGap="2px">
      <mat-form-field fxFlex="1 0 calc(33.3% - 2px)" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" placeholder="Nombre del curso" matInput formControlName="name" (keyup)="onSearch()">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 calc(33.3% - 2px)" appearance="outline">
        <mat-label>Profesor</mat-label>
        <mat-select formControlName="mainTeacherId" placeholder="Selecciona el profesor" (selectionChange)="onSearch()">
          <mat-option value="">Todos los profesores</mat-option>
          <mat-option *ngFor="let teacher of teachers" [value]="teacher.id">
            <img class="img-select rounded-circle"
              src="{{teacher.photoUrl?teacher.photoId:teacher.thumbnailPhotoUrl}}">&nbsp;
            {{teacher.name.fullName}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex="0 1 calc(33.3% - 2px)" appearance="outline">
        <mat-label>Ciclo escolar</mat-label>
        <mat-select formControlName="selectedCicle" (selectionChange)="onSearch()">
          <mat-option *ngFor="let period of periods$|async" [value]="period.id">
            {{period.cicle}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
    <div>Se encontraron {{resCount}} resultados en la búsqueda.</div>
  </div>

  <div class="card-body"
    *ngIf="(loaded_users$|async) && (loaded_courses$|async) && courses$|async as courses;else spinner"
    [@moveIn]="'moveIn'">
    <mat-list role="list" dense *ngIf="courses.length==0">
      <mat-list-item class="text-center"> No hay materias para mostrar.
      </mat-list-item>
    </mat-list>
    <mat-list role="list" dense>
      <!-- <div mat-subheader>{{skey}}</div> -->
      <mat-list-item role="listitem" *ngFor="let course of courses">
        <app-delete-button (delete)="handleCourseDelete(course)"></app-delete-button>
        <button mat-icon-button (click)="openCourseRoomDialog(course)">
          <mat-icon matListIcon>edit</mat-icon>
        </button>
        <img *ngIf="course.mainTeacher && (course.mainTeacher.photoUrl || course.mainTeacher.thumbnailPhotoUrl)"
          matListAvatar
          src="{{course.mainTeacher.photoUrl?course.mainTeacher.photoUrl:course.mainTeacher.thumbnailPhotoUrl}}">
        <div *ngIf="course" matLine>{{course.name}}&nbsp;<span class="text-secondary">({{course.grade}})</span></div>
        <div *ngIf="course" matLine>{{course.mainTeacher.name.fullName}}&nbsp;<span
            class="badge bg-{{course.courseType=='formativo'?'primary':'warning'}} text-light">{{course.courseType}}</span>
        </div>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
</div>
<button mat-fab id="new-room-course" matTooltip="Nuevo curso" (click)="openCourseRoomDialog()">
  <mat-icon>assignment_turned_in_outlined</mat-icon>
</button>
