<div matDialogTitle fxLayout="row wrap" fxLayoutAlign="space-between start">
  <h2 class="color-rds">{{(data.isNew) ? 'Crea' : 'Modifica'}} una materia</h2>
  <mat-icon matDialogClose mat-icon-button>cancel</mat-icon>
</div>
<mat-dialog-content class="m-2">
  <form [formGroup]="formData" (ngSubmit)="saveData()">
    <!--
      <mat-form-field class="d-block" class="example-chip-list" appearance="outline">
        <mat-label>Nombre(s) de curso</mat-label>
        <mat-chip-list #chipList aria-label="" multiple formControlName="courseNames">
          <mat-chip *ngFor="let keyword of courseNames" [selected]="keyword" [value]="keyword"
            (removed)="removeKeyword(keyword)">
            {{keyword}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Nombre del o de los cursos" [matChipInputFor]="chipList"
            (matChipInputTokenEnd)="addKeywordFromInput($event)">
        </mat-chip-list>
        <mat-hint>Escribe el nombre del o los cursos que deseas comenzar.</mat-hint>
      </mat-form-field> -->
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Nombre oficial de la materia</mat-label>
      <input placeholder="Nombre" matInput formControlName="name" />
    </mat-form-field>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Profesor</mat-label>
      <mat-select formControlName="mainTeacherId" placeholder="Selecciona el profesor">
        <mat-option *ngFor="let teacher of teachers$|async" value="{{teacher.id}}">
          <img class="img-select rounded-circle" src="{{teacher.photoUrl}}">&nbsp;
          {{teacher.name.fullName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Tipo de curso</mat-label>
      <mat-select formControlName="courseType" placeholder="Selecciona el tipo">
        <mat-option>Sin especificar</mat-option>
        <mat-option *ngFor="let key of keys" value="{{types[key]}}">
          {{types[key]|titlecase}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="d-block" appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput type="text" formControlName="description"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions class="m-2">
  <button mat-stroked-button color="accent" type="reset" (click)="resetData()">Limpiar</button>
  <button mat-stroked-button color="primary" type="submit" (click)="saveData()"
    [disabled]="!formData.dirty || formData.untouched || formData.invalid">{{(data.isNew) ?
    'Crear' : 'Modificar'}}</button>
</mat-dialog-actions>
