<ng-template #spinner>
  <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="5" [diameter]="50">
    </mat-spinner>
    <span>Buscando usuarios...</span><br>
  </div>
</ng-template>
<div class="card bg-transparent">
  <div class="card-body">
    <h2 style="margin-top: -30px"><span class="bg-white mcard-title">Usuarios
      </span></h2>
    <div fxLayout="row wrap" fxLAyoutAlign="center center" fxLayoutGap="2px">
      <mat-form-field fxFlex="1 0 calc(50% - 2px)" appearance="outline">
        <mat-label>Nombre</mat-label>
        <input type="text" matInput [(ngModel)]="searchString" (keyup)="refreshList()">
      </mat-form-field>
      <mat-form-field fxFlex="1 0 calc(50% - 2px)" appearance="outline">
        <mat-label>Rol de usuario</mat-label>
        <mat-select [(ngModel)]="selectedRoles" (selectionChange)="refreshList()" multiple>
          <mat-option *ngFor="let role of userRoles" [value]="role">
            {{role|titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLAyoutAlign="center center" fxLayoutGap="2px">
      <mat-checkbox fxFlex="1 0 calc(50% - 2px)" color="primary" [(ngModel)]="isSuspended"
        (ngModelChange)="refreshList()">Sólo Suspendidos
      </mat-checkbox>
      <mat-checkbox fxFlex="1 0 calc(50% - 2px)" color="primary" [(ngModel)]="isAdmin" (ngModelChange)="refreshList()">
        Sólo Administradores
      </mat-checkbox>
    </div>
    <!-- </form> -->
    <div>Se encontraron {{userCount}} resultados en la búsqueda.</div>
  </div>
  <div class="card-body">
    <div *ngIf="(loaded$|async) && (users$|async) as users;else spinner" [@moveIn]="'moveIn'">
      <mat-list role="list" dense>
        <mat-list-item role="listitem" *ngFor="let user of users" routerLinkActive="active">
          <img matListAvatar [src]="user.photoUrl?user.photoUrl:user.thumbnailPhotoUrl">
          <div matLine>
            <fa-icon matTooltip="Última conexión: {{user.lastLoginTime}}" [icon]="faCircle" size="md"
              class="{{user.isOnline?'text-success':'text-danger'}}">
            </fa-icon>&nbsp;
            <span>
              {{user.name.fullName}}
            </span>&nbsp;
            <span class="text-secondary">{{user.id}}</span>
          </div>
          <div matLine>{{user.primaryEmail}}</div>
          <div fxLayout="row" fxLayoutGap="15px" fxLayoutAlign="space-evenly">
            <fa-icon *ngIf="user.isHuman" [icon]="user.role=='alumnos'?faIdCard:faIdCardAlt" size="2x" mat-icon-button
              [routerLink]="[user.id]" matTooltip="Información Personal"></fa-icon>
            <!-- <fa-icon [icon]="" size="2x" mat-icon-button *ngIf="user.role=='Profesores'"
                [routerLink]="[user.id]" matTooltip="Edita información personal del docente"></fa-icon> -->
            <fa-icon [icon]="faUserCircle" size="2x" (click)="openEditUser(user)" matTooltip="Cuenta de usuario">
            </fa-icon>
            <fa-icon [icon]="faUserSlash" size="2x" class="text-danger" (click)="openSuspendUser(user)"
              matTooltip="{{user.suspended ? 'Reestablecer o habilitar' : 'Suspender o inhabilitar'}} usuario">
            </fa-icon>
            <fa-icon [icon]="faTrashAlt" size="2x" class="text-danger" (click)="openDeleteUser(user)"
              matTooltip="Borrar usuario"></fa-icon>
          </div>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
    </div>

  </div>
</div>
