<!-- <ng-template #spinner>
  <div style="min-height: 300px;" fxLayout="column" fxLayoutAlign="center center">
    <mat-spinner strokeWidth="5" [diameter]="50">
    </mat-spinner>
    <span>Buscando ...</span><br>
  </div>
</ng-template> -->
<mat-card *ngIf="roomInput as room" class="mat-elevation-z0 card bg-transparent">
  <div class="float-right">
    <ng-content #editRoom></ng-content>
    <app-delete-button (delete)="handleDelete()"></app-delete-button>
  </div>
  <mat-card-header class="header">
    <mat-card-title class="title"> {{ room.name }}</mat-card-title>
    <mat-card-subtitle>{{ room.description}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel class="mat-elevation-z0 bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
            <div>Alumnos <span class="text-secondary">({{room.students.length}})</span></div>
            <div>
              <fa-icon class="px-2" mat-icon-button [icon]="faSync" (click)="fetchStudents(room)"
                *ngIf="room.students.length==0"> </fa-icon>
              <fa-icon class="px-2" mat-icon-button [icon]="faUserPlus" (click)="openDialog()"></fa-icon>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="drop-list" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="studentDrop($event)"
          dense>
          <div class="p-3 drag-box text-center" *ngIf="room.students.length==0">No hay elementos para mostrar</div>
          <div class="p-3 drag-box" cdkDrag *ngFor="let student of room.students; let i = index">
            <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="float-right" fxLayout="row wrap" fxLayoutAlign="center center">
              <app-delete-button matListIcon (delete)="handleStudentDelete(student)"></app-delete-button>
              <mat-icon mat-icon-button size="lg" (click)="openDialog(student, i)">edit</mat-icon>
            </div>
            <p class="my-n1 text-truncate" [ngClass]="student.label"><strong> {{i+1}}. {{
                student.name.fullName}}</strong>
            </p>
            <p class="my-n1">{{student.primaryEmail}} </p>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="mat-elevation-z0 bg-transparent">
        <mat-expansion-panel-header>
          <mat-panel-title fxLayout="row" fxLayoutAlign="space-between">
            <div>Materias <span class="text-secondary">({{room.courses.length}})</span></div>
            <div>
              <fa-icon class="px-2" mat-icon-button [icon]="faSync" (click)="fetchCourses(room)"
                *ngIf="room.courses.length==0"> </fa-icon>
              <fa-icon class="px-2" mat-icon-button [icon]="faPlus" (click)="openCoursesDialog()">
              </fa-icon>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="drop-list" cdkDropList cdkDropListOrientation="vertical" (cdkDropListDropped)="courseDrop($event)"
          dense>
          <div class="p-3 drag-box text-center" *ngIf="room.courses.length==0">No hay elementos para
            mostrar</div>
          <div class="p-3 drag-box" cdkDrag *ngFor="let course of room.courses; let j = index">
            <div class="drag-custom-placeholder" *cdkDragPlaceholder></div>
            <div class="mr-2 float-left">
              <img class="img-select rounded-circle" *ngIf="course.mainTeacher.photoUrl"
                src="{{course.mainTeacher.photoUrl}}">
            </div>
            <div class="float-right" fxLayout="row wrap" fxLayoutAlign="center center">
              <app-delete-button mat-icon-button (delete)="handleCourseDelete(course)">
              </app-delete-button>
              <mat-icon mat-icon-button (click)="openCoursesDialog(course, j)">edit</mat-icon>
            </div>
            <p class="my-n1 text-truncate"><strong>{{j+1}}. {{ course.name }}</strong></p>
            <p class="my-n1">{{course.mainTeacher.name.fullName}}
              <span
                class="badge badge-{{course.courseType=='formativo'?'info':'warning'}} text-wrap">&nbsp;{{course.courseType}}</span>
            </p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
